core-toolbar {
  background-color: #747E88;
  color: #162531;
  font-size: x-large;
}

core-item {
  color: #A79780;
  padding-right: 50px;
}

core-item.core-selected {
  color: #D2C4B0;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #3D4852;
    color: #D2C4B0;
}

h2 {
  margin-left: 20px;
}

#splash {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
}

core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

[drawer] {
  background-color: #3D4852;
}


//http://paletton.com/#uid=23z0u0k90f+55qj7mkVbt9ViX9-