<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<polymer-element name="pablosaraiva-menu" attributes="page">

  <template>
    <style>
    </style>
    
    <div id="content" layout horizontal>
       <paper-tabs id="tabs" selected="{{page}}" flex>
         <paper-tab name="blog">Blog</paper-tab>
         <paper-tab name="projetos">Projetos</paper-tab>
         <paper-tab name="leitura">Leitura</paper-tab>
         <paper-tab name="sobre">Sobre</paper-tab>
       </paper-tabs>    
    </div>
  </template>
  
  <script type="application/dart" src="pablosaraiva-menu.dart"></script>
</polymer-element>
  
  
